@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>The controller is: @ViewBag.Controller</div>
    <div>The action is: @ViewBag.Action</div>
    <div>The CustomVariable is: @ViewBag.CustomVariable</div>
    <div>The Catch all is: @ViewBag.CatchAll</div>
</body>
</html>